ol, ul
  list-style-type: none
  li
    list-style-type: none

.select2-container .select2-selection--single
  height: 40px
.select2-container--default .select2-selection--single .select2-selection__rendered
  line-height: 40px
  outline: none
.select2-container--default .select2-selection--single
  border-radius: $input-border-radius
  border: 1px solid $blue-border
.sc-full
  .select2-container
    width: 100% !important
.sc-370
  .select2-container
    max-width: 370px !important
    width: 100% !important
.sc-115
  .select2-container
    width: 115px !important
.select2-container--default .select2-selection--single .select2-selection__arrow
  width: 16px
  right: 10px
  top: 0
  bottom: 0
  height: auto
.select2-container--default .select2-selection--single .select2-selection__arrow b
  width: 16px
  height: 9px
  display: block
  position: absolute
  background-image: url("img/select2-selection__arrow.png")
  background-position: center center
  background-size: 16px 9px
  background-repeat: no-repeat
  margin: 0
  border: none
  left: auto
  top: 50%
  transform: translate(0, -50%)
  transition: all .2s ease
.select2-container--open
  .select2-selection__arrow b
    transform: translate(0, -50%) rotateX(180deg) !important

.w2dc-submit-section
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: flex-end
  position: relative
  flex-grow: 1
  label
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-direction: row
    align-items: center
    position: relative
    margin-bottom: 10px
    p
      margin-right: 20px
  input
    display: block
    position: relative
    height: 40px
    font-family: "MuseoSansCyrl", sans-serif
    font-weight: 500
    font-size: 16px
    padding: 0 40px 0 15px
    border-radius: $input-border-radius
    border: 1px solid $blue-border
    text-align: center

.srs-filter-date-container
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-end
  position: relative
  label
    p
      margin-right: 10px
  li
    display: inline-block
    position: relative
    list-style-type: none
    &:last-child
      label
        p
          margin-left: 10px
.srs-filter-date
  input
    width: 140px
.srs-filter-date-btn
  font-style: normal
  display: block
  position: absolute
  top: 0
  bottom: 0
  right: 0
  background-color: transparent
  width: 40px
  cursor: pointer
  background-image: url("img/srs-filter-date-btn.png")
  background-position: center center
  background-size: 23px 23px
  background-repeat: no-repeat
.datepicker
  margin-top: -10px
.datepicker--pointer
  display: none
.datepicker--day-name
  color: $green-link !important
.srs-filter-time
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-end
  position: relative
  label
    p
      margin-right: 10px
  li
    display: inline-block
    position: relative
    list-style-type: none
    &:last-child
      label
        p
          margin-left: 10px
  input
    width: 100px
.popover
  > .arrow
    display: none !important
.popover.bottom
  margin-top: 0
.srs-filter-time-btn
  font-style: normal
  display: block
  position: absolute
  top: 0
  bottom: 0
  right: 0
  background-color: transparent
  width: 40px
  cursor: pointer
  background-image: url("img/srs-filter-time-btn.png")
  background-position: center center
  background-size: 22px 22px
  background-repeat: no-repeat
