.w2dc-content {
  font-family: museo_sans_cyrl300, "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .w2dc-content .form-control {
    font-weight: 500;
    font-size: 16px;
    padding: 0 40px 0 15px;
    border-radius: 4px;
    border: 1px solid #0076D5;
    background: transparent;
    height: 40px;
    margin-bottom: 1em; }
    .w2dc-content .form-control::placeholder {
      color: #222; }
  .w2dc-content input[type="number"] {
    -moz-appearance: textfield; }
    .w2dc-content input[type="number"]::-webkit-outer-spin-button, .w2dc-content input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
  .w2dc-content textarea.form-control {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: 15em; }
  .w2dc-content label, .w2dc-content p {
    line-height: 40px;
    font-size: 16px;
    font-weight: normal;
    min-width: 1.1em; }
  .w2dc-content .btn {
    background: #0076D5;
    color: #fff;
    height: 40px;
    border-radius: 4px; }
  .w2dc-content .flex {
    display: flex;
    flex-direction: row; }
    .w2dc-content .flex label {
      white-space: nowrap;
      margin-right: 0.8em; }

.w2dc-submit-section-title input[type="text"] {
  width: 100%; }
  .w2dc-submit-section-title input[type="text"] ~ .char-limit {
    position: absolute;
    color: #999;
    font-size: 16px;
    line-height: 40px;
    top: 0;
    left: 7em;
    z-index: -1; }
  .w2dc-submit-section-title input[type="text"] ~ .char-limit.active, .w2dc-submit-section-title input[type="text"]:focus ~ .char-limit {
    left: auto;
    right: 25px; }

.srs-filter-checks {
  flex-wrap: wrap; }
  @media screen and (min-width: 576px) {
    .srs-filter-checks {
      flex-wrap: nowrap; } }

.srs-filter-checks .control {
  position: relative;
  padding: 0 42px;
  cursor: pointer;
  line-height: 40px;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  background: #fcfcfc;
  font-weight: 500;
  margin-bottom: 1em;
  margin-left: 0.9em;
  transition: all 0.2s ease; }
  @media screen and (min-width: 576px) {
    .srs-filter-checks .control {
      margin-left: 0; } }
  .srs-filter-checks .control input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
    .srs-filter-checks .control input:disabled ~ .control__indicator {
      pointer-events: none;
      opacity: 0.6;
      background: #e6e6e6; }
  .srs-filter-checks .control .control__indicator:after {
    position: absolute;
    display: none;
    content: ""; }
  .srs-filter-checks .control input:checked ~ .control__indicator:after, .srs-filter-checks .control:hover input ~ .control__indicator:after {
    display: block; }
  .srs-filter-checks .control .control__indicator {
    position: absolute;
    top: 7px;
    left: 8px;
    width: 25px;
    height: 25px;
    background: #fff;
    border: 1px solid #fff; }
  .srs-filter-checks .control.control--radio .control__indicator {
    border-radius: 50%; }
  .srs-filter-checks .control.control--checkbox .control__indicator:after {
    top: 4px;
    left: 8px;
    width: 3px;
    height: 8px;
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0; }
  .srs-filter-checks .control.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b; }
  .srs-filter-checks .control.control--radio .control__indicator:after {
    top: 4px;
    left: 4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #999;
    border: 3px solid #fff; }
  .srs-filter-checks .control.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b; }

.srs-filter-check-order.control {
  border: 1px solid #7f33c1; }
  .srs-filter-check-order.control.checked {
    background-color: #7f33c1;
    color: #fff; }
  .srs-filter-check-order.control .control__indicator {
    border-color: #7f33c1; }
  .srs-filter-check-order.control:hover input ~ .control__indicator {
    background: #7f33c1; }
  .srs-filter-check-order.control input:focus ~ .control__indicator {
    background-color: #7f33c1; }
  .srs-filter-check-order.control input:checked ~ .control__indicator {
    background-color: #7f33c1;
    border-color: #fff; }

.srs-filter-check-service.control {
  border: 1px solid #d06119; }
  @media screen and (min-width: 576px) {
    .srs-filter-check-service.control {
      margin-right: 0 !important; } }
  .srs-filter-check-service.control.checked {
    background-color: #d06119;
    color: #fff; }
  .srs-filter-check-service.control .control__indicator {
    border-color: #d06119; }
  .srs-filter-check-service.control:hover input ~ .control__indicator {
    background: #d06119; }
  .srs-filter-check-service.control input:focus ~ .control__indicator {
    background-color: #d06119; }
  .srs-filter-check-service.control input:checked ~ .control__indicator {
    background-color: #d06119;
    border-color: #fff; }

.w2dc-locations-metabox {
  margin-top: 1em; }

.w2dc-content .w2dc-get-location {
  position: absolute;
  line-height: 40px; }

.w2dc-location-in-metabox {
  border-bottom: none;
  padding: 0; }
  .w2dc-location-in-metabox .form-control {
    margin-bottom: 0; }

.w2dc-field-input-select {
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  width: 1px !important; }

.select2-container {
  width: 100% !important;
  margin-bottom: 1em; }

.select2-container--default .select2-selection--single {
  height: 40px;
  border-radius: 4px;
  border: 1px solid #0076D5;
  outline: none; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
    font-size: 16px; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 16px;
    right: 10px;
    top: 0;
    bottom: 0;
    height: auto; }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    width: 16px;
    height: 9px;
    display: block;
    position: absolute;
    background-image: url("img/select2-selection__arrow.png");
    background-position: center center;
    background-size: 16px 9px;
    background-repeat: no-repeat;
    margin: 0;
    border: none;
    left: auto;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.2s ease; }
  .select2-container--default .select2-selection--single .select2-selection__clear {
    display: none; }
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #222;
    font-size: 16px; }

.select2-container--open .select2-selection__arrow b {
  transform: translate(0, -50%) rotateX(180deg) !important; }

.w2dc-submit-section-price label {
  min-width: 9em;
  text-align: right;
  min-width: auto; }

@media screen and (min-width: 576px) {
  .w2dc-submit-section-date > div {
    display: flex; } }
.w2dc-submit-section-date > div:last-child p {
  margin-top: -1em; }
  @media screen and (min-width: 576px) {
    .w2dc-submit-section-date > div:last-child p {
      margin-top: 0; } }
.w2dc-submit-section-date p {
  margin-bottom: 0;
  margin-right: 0.8em;
  white-space: nowrap; }

.srs-filter-date, .srs-filter-time {
  position: relative;
  padding-right: 1em; }
  .srs-filter-date .form-control, .srs-filter-time .form-control {
    padding-left: 8px;
    width: 120px; }

.srs-filter-date-btn {
  font-style: normal;
  display: block;
  position: absolute;
  top: -1.2em;
  bottom: 0;
  right: 1em;
  background-color: transparent;
  width: 40px;
  cursor: pointer;
  background-image: url("img/srs-filter-date-btn.png");
  background-position: center center;
  background-size: 23px 23px;
  background-repeat: no-repeat; }

.datepicker {
  margin-top: -10px; }

.datepicker--pointer {
  display: none; }

.datepicker--day-name {
  color: #669933 !important; }

@media screen and (min-width: 576px) {
  .srs-filter-date .form-control {
    width: 140px;
    font-size: 18px; }

  .srs-filter-time .form-control {
    width: 100px;
    font-size: 18px; } }
.popover > .arrow {
  display: none !important; }

.popover.bottom {
  margin-top: 2px; }

.srs-filter-time-btn {
  font-style: normal;
  display: block;
  position: absolute;
  top: -1.2em;
  bottom: 0;
  right: 1em;
  background-color: transparent;
  width: 40px;
  cursor: pointer;
  background-image: url("img/srs-filter-time-btn.png");
  background-position: center center;
  background-size: 22px 22px;
  background-repeat: no-repeat; }

#w2dc-upload-wrapper {
  margin-bottom: 40px; }

#w2dc-upload-functions {
  margin: 0 0 -1em; }

.w2dc-upload-option .form-control {
  margin-bottom: 0;
  padding-right: 1em;
  text-overflow: ellipsis; }
  .w2dc-upload-option .form-control::placeholder {
    color: #999; }
.w2dc-upload-option input.unstyleable {
  display: none; }
.w2dc-upload-option button.btn {
  margin-left: 1em; }
.w2dc-upload-option .input-group {
  max-width: 91%; }

.w2dc-content .submit {
  text-align: center;
  margin-bottom: 3em; }

#submit {
  border-radius: 0; }

/*# sourceMappingURL=main.css.map */
