.tml {
	/*max-width: 320px;*/
}

.tml * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tml .error,
.tml .message {
	color: #333;
	padding: 0.5em;
}

.tml .error {
	border: 1px solid #c00;
	background-color: #ffebe8;
}

.tml .message {
	border: 1px solid #e6db55;
	background-color: #ffffe0;
}

.tml p {
	margin: 0 0 1.5em 0;
	padding: 0;
}

.tml label {
	display: block;
	text-align: left;
}

.tml .tml-rememberme-wrap label {
	display: inline;
}

.tml input,
.tml textarea,
.tml select {
	margin: -7px 0;
	width: 52%;
	font-family: museo_sans_cyrl500, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	border: solid 1px #2475d1;
	border-radius: 3px;
	line-height: 31px;
}

.tml #user_email1 {
	margin-top: 20px;
}

.tml #wp-submit, #wp-submit1, #wp-submit2 {
	background-color: #689a1e;
	border: none;
	color: #ffffff;
	border-radius: 0px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 15px;
}

.tml #registerform, #loginform, #lostpasswordform {
	text-align: center;
}

.tml input[type="checkbox"],
.tml input[type="radio"],
.tml .tml-rememberme-wrap input {
	vertical-align: middle;
	width: auto;
}

.tml .tml-action-links {
	display: inline-block;
	list-style: none;
	margin: 0.5em auto;
	padding: 0;
	text-align: center;
}

.tml .tml-action-links li {
	border: none;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	float: left;
	line-height: 1;
	list-style: none;
	margin: 0 0.5em 0 0;
	padding: 0 0.5em 0 0;
}

.tml .tml-action-links li:last-child {
	border-right: none;
	margin-right: 0;
	padding-right: 0;
}

.tml .tml-action-links a {
	border: none;
	display: block;
	padding: 0;
	text-decoration: none;
	color: #000000;
}

.tml .tml-action-links a:hover {
	color: #669933;
	text-decoration: underline;
}

.tml .tml-rememberme-submit-wrap:before,
.tml .tml-rememberme-submit-wrap:after,
.tml .tml-action-links:before,
.tml .tml-action-links:after {
	content: "";
	display: table;
}

.tml .tml-rememberme-submit-wrap:after,
.tml .tml-action-links:after {
	clear: both;
}

.tml .tml-user-avatar {
	text-align: left;
}

.mu_register .hint {
	font-size: 12px;
	margin-bottom: 10px;
	display: block;
}

.mu_register label.checkbox {
	display: inline;
}

#pass-strength-result {
	background-color: #eee;
	border: 1px solid #ddd;
	color: #23282d;
	font-weight: 600;
	margin: 0;
	padding: 3px 5px;
	text-align: center;
	width: 100%;
	opacity: 0;
}

#pass-strength-result.short {
	background-color: #f1adad;
	border-color: #e35b5b;
	opacity: 1;
}

#pass-strength-result.bad {
	background-color: #fbc5a9;
	border-color: #f78b53;
	opacity: 1;
}

#pass-strength-result.good {
	background-color: #ffe399;
	border-color: #ffc733;
	opacity: 1;
}

#pass-strength-result.strong {
	background-color: #c1e1b9;
	border-color: #83c373;
	opacity: 1;
}

.pw-weak {
	display:none;
}

.indicator-hint {
	padding-top: 8px;
}

#pass1,
#pass1-text {
	width: 52%;
}

#pass1-text,
.show-password #pass1 {
	display: none;
}

.show-password #pass1-text
{
	display: inline-block;
}

.avatar-image {
	text-align: center !important;
}

.avatar-buttons {
	text-align: center !important;
}

.avatar-buttons label {
	text-align: center !important;
	font-family: museo_sans_cyrl500, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
    margin-top: 20px;
    font-weight: 500;
}

.avatar-buttons input {
	width: 100%;
	border: none;
}

.avatar-buttons input.btn-danger {
	border: none;
	width: auto;
	border: solid 1px #d76a43;
	background-color: #fff;
	color: #000000;
	font-family: museo_sans_cyrl500, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin-top: 16px;
}

.avatar-buttons input.btn-danger:hover {
	background-color: #d76a43;
	color: #ffffff;
	border: solid 1px #d76a43;
}

.avatar-buttons input.btn-danger:focus {
	border: none;
}

.avatar-buttons .btn-primary {
	background-color: #ffffff;
	cursor: pointer;
	color: #000000;
	border: solid 1px #d76a43;
	font-family: museo_sans_cyrl500, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.avatar-buttons .btn-primary:hover {
	background-color: #d76a43;
	color: #ffffff;
	border: solid 1px #d76a43;
}

.avatar-buttons .btn-primary:active {
	background-color: #d76a43 !important;
	color: #ffffff;
	border: solid 1px #d76a43 !important;
}

td.no-border {
	border: none;
}

.profile-table td {
	display: table-cell !important;
	border: none !important;
}

.profile-table td input {
	text-align: left;
	padding: 0px 10px;
}

.profile-table td select {
	text-align: left;
	padding: 0px 7px;
}

.profile-table td label {
	font-family: museo_sans_cyrl500, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
}

.profile-table td label b {
	font-family: museo_sans_cyrl500, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
}

.profile-table td.first {
	width: 33% !important;
}

.profile-table td.last {
	width: 66% !important;
}

.profile-table td.last input, select {
	width: 100% !important;
}

.profile-table td.weakpass label input{
	width: auto !important;
	margin-top: -2px;
}

.tml-submit-wrap .btn-primary {
	background-color: #ffffff;
	cursor: pointer;
	color: #000000;
	border: solid 1px #d76a43;
	font-family: museo_sans_cyrl500, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.tml-submit-wrap .btn-primary:hover {
	background-color: #d76a43;
	color: #ffffff;
	border: solid 1px #d76a43;
}

.tml-submit-wrap .btn-primary:active {
	background-color: #d76a43 !important;
	color: #ffffff;
	border: solid 1px #d76a43 !important;
}

#description {
	width: 100%;
}

.tml-submit-wrap {
	margin-top: 65px !important;
	margin-bottom: 65px !important;
}

@media screen and (min-width: 768px) {
	.tml .tml-submit-wrap input {
		width: auto;
	}

	.tml-login .tml-rememberme-submit-wrap {
		/*display: table;*/
		margin-bottom: 1.5em;
		width: 100%;
	}

	.tml-login .tml-rememberme-wrap {
		/*display: table-cell;*/
	}

	.tml-login .tml-rememberme-wrap input {
		margin: 0;
	}

	.tml-login .tml-submit-wrap {
		/*display: table-cell;
		text-align: right;*/
	}

	.tml-login .tml-submit-wrap input {
		margin: 0;
		width: auto;
	}
}
